<div class="row detail left-border">
    <div class="col-md-3 text-center">
        <app-image [src]="'http://placehold.it/300x400'" [alt]="'desc'"></app-image>
    </div>
    <div class="col-md-9">
        <div class="text-center text-md-left">
            <h1>Movie title</h1>
            <p class="text-muted">
                Director, Year
            </p>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-6">
                <p>
                    <strong>Length:</strong> 100 min
                </p>
                <p>
                    <strong>Genre:</strong> Thriller, Sci-Fi
                </p>
                <p>
                    <strong>Plot:</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem earum laboriosam expedita officia a laborum facere sed iste accusantium sit at omnis doloremque reiciendis, neque quasi quidem, reprehenderit
                    eveniet commodi.
                </p>
                <p>
                    <strong>Stars:</strong> Amy Adams, Jeremy Renner, Forest Whitaker
                </p>
            </div>
            <div class="col-md-6">
                <h4>
                    <strong>IMDb rating</strong><br>
                    <span>9.2</span>
                </h4>
                <h4>
                    <strong>Rotten Tomatoes rating</strong><br>
                    <span>Users: 4.2</span><br>
                    <span>Critics: 9.1</span>
                </h4>
                <h4>
                    <strong>Metacritic</strong><br>
                    <span>71%</span>
                </h4>
                <hr>
                <h4>
                    <strong>Overall rating</strong><br>
                    <span>8.8</span>
                </h4>
            </div>
        </div>
    </div>
</div>