<div class="footer">
    <div class="align-middle text-center">
        <h4>
            made with
            <a href="http://angular.io/">
                <img src="../../assets/angular.png" alt="Angular JS logo" class="img-fluid">
            </a>
            and
            <a href="http://angular.io/">
                <img src="../../assets/ruby.png" alt="Angular JS logo" class="img-fluid">
            </a>
        </h4>
        <h6>
            by
            <a href="http://moisesneto.me/">Moisés Neto</a>
        </h6>
    </div>
</div>